.Option {
    margin-right: 22px;
    width: 90px;
    height: 50px;
    padding: 14px;
    font-size: 11px;
    background: #919247;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    border: solid 1px white;
    cursor: pointer;
    outline: inherit;
  }
  
  .ActiveOption {
    margin-right: 22px;
    width: 90px;
    height: 55px;
    padding: 15px;
    font-size: 11px;
    background: rgb(120, 120, 131);
    border-radius: 33px;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    outline: inherit;
  }